html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
  padding: 1em;
  padding-bottom: 4rem;
  max-width: 75ch;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

* + h2 {
  margin-top: 2rem;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
  font-weight: bold;
}

input[type="checkbox"] + label {
  display: inline;
  font-weight: normal;
}

input[type="text"] {
  width: 100%;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

[tabindex="-1"] {
  outline: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.flow > * + * {
  margin-top: 0.5rem;
}

.solution--regenerated {
  animation: pinch 0.25s ease-in;
}

/* stolen from https://every-layout.dev/layouts/sidebar/ */
@keyframes pinch {
  0% {
    transform: translateY(0.5rem);
  }

  25% {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(0.25rem);
  }

  75% {
    transform: translateY(-0.25rem);
  }

  87.5% {
    transform: rotate(0.125rem);
  }

  to {
    transform: rotate(0);
  }
}
